<div class=row>
  <div class="col-md-2">Funding spent: $3,000</div>
  <div class="col-md-2">Funding committed but not spent: $1,000</div>
  <div class="col-md-2">Funding remaining this year: $2,000</div>
  <div class="col-md-2">
    Total funding for year: $6,000
  </div>
  <div class="col-md-2">
    Out of pocket: $0
  </div>
  <div class="col-md-2">
    <!-- TODO: Make the years do something. -->
    <!-- TODO: Hide the dropdown if there's only one year? -->
    <% if (fiscal_year_list = funded_person.fiscal_years).present? %>
      <%= select_tag "year-#{funded_person.id}",
                     options_from_collection_for_select(fiscal_year_list,
                                                        :to_s,
                                                        :to_s,
                                                        fiscal_year_list.first.to_s),
                     class: "pull-right" %>
     <% end %>
  </div>
</div>
