<div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Status</h2>
    </div>
    <div class="panel-body">
    <div class=row>
      <div class="col-md-2">Funding spent: $3,000</div>
      <div class="col-md-2">Funding committed but not spent: $1,000</div>
      <div class="col-md-2">Funding remaining this year: $2,000</div>
      <div class="col-md-2">
        Out of pocket: $0
      </div>
      <div class="col-md-2">
        Total funding for year: $6,000
      </div>
    </div>
  </div>
</div>
