<%= render 'shared/notifications' %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">
            Child 6 and Over
            <%= select_tag "Year", raw("<option>2016-2017</option><option>2015-2016</option>"), class: "pull-right" %>
        </h1>
    </div>
    <div class="panel-body">
      <%= render partial: "show_body" %>
    </div>
</div>
