<div class=row>
  <div class="col-md-3">Funding spent: $3,000</div>
  <div class="col-md-3">Funding committed but not spent: $1,000</div>
  <div class="col-md-3">Funding remaining this year: $2,000</div>
  <div class="col-md-3">
    Total funding for year: $6,000
  </div>
</div>
