<div class=row>
  <div class="col-md-2">Funding spent: $3,000</div>
  <div class="col-md-2">Funding committed but not spent: $1,000</div>
  <div class="col-md-2">Funding remaining this year: $2,000</div>
  <div class="col-md-2">
    Total funding for year: $6,000
  </div>
  <div class="col-md-2">
    Out of pocket: $0
  </div>
  <div class="col-md-2">
    <!-- TODO: properly fill in the years and make them do something. -->
    <%= select_tag "Year",
                   options_from_collection_for_select(funded_person.fiscal_years, :to_s, :to_s),
                   class: "pull-right" %>
  </div>
</div>
