<div class="jumbotron">
  <div class="container">
    <h1>Autism Funding - The "A" Version</h1>
    <p>
      This site helps you manage your autism funding.
      You can fill out forms,
      print them,
      and send them to the Ministry.
      Then you can easily track
      how much you've committed,
      and how much you've spent.
    </p>
    <p>
      We're just getting started,
      so nothing is here yet.
      The first milestone is to support parents
      and care-givers
      in the province of British Columbia.
      We hope to support other provinces in the future.
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>For Parents and Care Givers</h2>
      <p>
        Keep track of how much of your funding
        you've committed,
        how much has actually been spent,
        and how much you have to left to spend.
        Estimate when you'll run out of funding,
        to help you budget for those parts of the year
        where you might have to pay out of pocket.
      </p>
      <p>
        <%= link_to "Sign Up", new_user_registration_path %>
        now to receive news
        about when this site will be ready to print completed forms.
      </p>
    </div>
    <div class="col-md-4">
      <h2>For Service Providers</h2>
      <p>
        See how much funding you're approved for,
        so you can help your families stay up-to-date
        with their funding applications,
        meaning fewer delays in paying your invoices.
      </p>
      <p>
        <%= link_to "Sign Up", new_user_registration_path %>
        now to receive news
        about when this site will be ready
        to help you and your families
        manage their funding.
      </p>
    </div>
    <div class="col-md-4">
      <h2>For Governments</h2>
      <p>
        There's nothing here yet,
        but we're hoping that with the support of parents
        and care-givers,
        we can convince governments to join with us,
        and provide a site the makes managing funding
        less of a burden for parents and care-givers.
    </div>
  </div>
</div>
