<div class="container">
  <h1>Help For BC Residents</h1>
  <br><br>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag "BuildingSite.jpg", size: "300" %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      This page is yet to be written.  It should contain
      <ul>
        <li>Brief Description of what you can do with this site</li>
        <li>Any Instructions that don't seem obvious from the application</li>
        <li>How to Report Errors and problems</li>
      </ul>
    </div>
  </div>
</div>
