<div class="container">
  <h1>Contact Us</h1>
  <br><br>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag "BuildingSite.jpg", size: "300" %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      This page is yet to be written.  It should contain
      <ul>
        <li>How to contact us</li>
        <li>Why you should contact us</li>
        <li>Encourage requests for more coverage, calls to contact governments and providers</li>
      </ul>
    </div>
  </div>
</div>
