<div class="container">
  <div class="alert alert-warning">
    <span class="glyphicon glyphicon-star-empty"></span>
    This application does not provide support for services in your area
  </div>

  <h1>But We're Working On It!</h1>
  <br><br>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag "SecretarialPool.jpg", size: "300" %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      At the present time, this application does not provide support for all provinces
      and states, your address indicates you live in an area for which we have not
      implemented help for you to fund services for your autistic children.
      <br><br>
      We are working as hard as we can to expand our service area, but we have limited
      resources and funding.  By registering on this site, you are helping us identify
      provinces where the need for this application is the greatest.
      <br><br>
      You may also help by lobbying your government to fund us so that we can make
      a challenging parental task as easy as possible.
    </div>
  </div>
</div>
