<table class="table table-striped form-list">
  <thead>
    <tr>
      <th>Form</th>
      <th>Provider</th>
      <th class="text-right">Start Date</th>
      <th class="text-right">Amount/Limit</th>
      <th class="text-center">Status</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render(partial: "filled_in_forms/filled_in_form",
               collection: filled_in_forms) ||
          content_tag(:tr,
                      content_tag(:td,
                                  local_assigns[:no_data_msg] ||
                                    "No funding requests available",
                                  colspan: 6,
                                  class: "text-center")) %>
  </tbody>
</table>
