<!-- This is probably just a temporary file for the prototype -->
<div class="row">
  <h3>Forms for <%= @funded_person.my_name %></h3>
  <%= render partial: 'forms', locals: { filled_in_forms: @funded_person.cf0925s } %>
</div>
