<p class="bg-info">
  For more information on how to fill out this form,
  please refer to the
  <%= link_to "BC government manual",
              "http://www2.gov.bc.ca/gov/content/health/managing-your-health/healthy-women-children/child-behaviour-development/special-needs/autism-spectrum-disorder/autism-funding",
              target: "_blank"
  %>.
  Page 10 covers children under 6.
  Page 17 covers children 6 to 18.
  Page 31 covers other expenses.
</p>
