<% @cf0925.attribute_names.each do |attribute| %>
  <%= show_field(attribute) %>
<% end %>
<div class="container">
  <h2>Section 1 Parent/Guardian Information</h2>
  <div class="row">
  </div>
  <div class="row">
  </div>
  <h2>Section 2 Child Information</h2>
  <div class="row">
  </div>
  <h2>Part A Services</h2>
  <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="row">
  </div>
  <h2>Part B Additional Expenses</h2>
  <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="row">
  </div>
</div>
