<div class="container">
  <%# ---- Notice or alert message from devise ---------------------------%>
  <% if notice %>
  <div class="alert alert-info"><%= notice %></div><% end %>
  <% if alert  %>
  <div class="alert alert-warning"><%= alert %></div><% end %>
</div>
