<!DOCTYPE html>
<html>
  <head>
    <%= render "head" %>
  </head>

  <body>
    <%= render "header" %>

    <div class="container">
      <%= yield %>
    </div>
  </body>

  <footer class="container">
    <%= render "footer" %>
  </footer>
</html>
