<!DOCTYPE html>
<html>
  <head>
    <%= render "head" %>
  </head>

  <body>
    <%= render "header" %>

    <div class="container">
        <div class="row">
          <div class="col col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <%= yield %>
          </div>
        </div>

        <%= render "footer" %>
    </div>
  </body>
</html>
